<div class="d-flex justify-content-between align-items-center pt-lg-5 pt-4 px-4">
    <div class="d-flex align-items-center">
        <div class="d-lg-none d-block">
            <i class="fa fa-bars fs-5 pe-3" (click)="toogleSidebar()"></i>
        </div>
        <div class="notification">
            <mat-icon class="mat-icon">notifications_none</mat-icon>
            <span>2</span>
        </div>
        <div>
            <mat-icon class="ms-3">settings</mat-icon>
        </div>
    </div>
    <div class="dropdown">
        <button class=" dropdown-toggle avater-drop" type="button" id="dropdownMenuButton1"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="../../../assets/images/avater.png" alt="">
        <img src="../../../assets/images/arrow-down.png" alt="">
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
</div>