<div class="d-flex justify-content-between align-items-center pt-lg-5 pt-4 px-4">
    <div class="d-flex align-items-center">
        <div class="d-lg-none d-block">
            <i class="fa fa-bars fs-5 pe-3" (click)="toogleSidebar()"></i>
        </div>
        <div class="notification">
            <mat-icon class="mat-icon">notifications_none</mat-icon>
            <span>2</span>
        </div>
        <div>
            <mat-icon class="ms-3">settings</mat-icon>
        </div>
    </div>
    <div class="dropdown">
        <button class=" dropdown-toggle avater-drop" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="../../../assets/images/avater.png" alt="">
            <img src="../../../assets/images/arrow-down.png" alt="">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
</div>

<div class="d-flex flex-column pt-5 px-4">
    <a href="" class="d-flex align-items-center text-primary">Lorem Ipsum <mat-icon class="ms-3 text-primary">more_horiz
        </mat-icon> </a>
    <h2 class="text-dark fw-900 py-3">
        Lorem Ipsum
        simply dummy
        text
    </h2>
    <p>Lorem Ipsum is simply dummy text
        of the printing industry.</p>
    <div class="card-blue mt-4">
        <img src="../../../assets/images/logo-2.png" alt="">
        <h3 class="text-light mb-0 pe-lg-4 fw-400 py-5">
            Lorem Ipsum
            simply dummy
            text
        </h3>
        <a href="" class="d-flex align-items-center fw-500 text-light">
                Get Started <i class="fa fa-arrow-right fs-10 ms-3 mb-1 text-light"></i>
        </a>
    </div>

</div>