<div class="form-input d-flex align-items-center w-100 ">
    <div class="dropdown ws-drop-table py-2 ws-search-able-dropdown  d-flex w-100">
        <a class=" dropdown-toggle col d-flex justify-content-between align-items-center" href="#" role="button"
            id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            {{value}} 
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <div class="d-flex flex-column px-2">
                <input type="text" class="search-able-input" (keyup)="inputChange($event)" placeholder="Search">
                <div class="d-flex pt-2 ws-search-able-list flex-column ">
                    <span *ngFor="let option of options" (click)="changeValue($event)">{{option}}</span>
                </div>
            </div>
        </ul>
    </div>
</div>