<div class="d-flex align-items-center">
    <h2 class="fw-700 text-dark w-100 text-center col">Banking Details</h2>
</div>
<div class="row mx-0 pt-4">
    <div class="col-lg-6 d-flex flex-column col-12 px-0 pb-3 pe-lg-2">
        <span class="d-flex pb-2 ">Account Title</span>
        <div class="form-input col ">
            <input type="text" placeholder="Enter">
        </div>
    </div>
    <div class="col-lg-6 d-flex flex-column col-12 px-0 pb-3 ps-lg-2 ">
        <span class="d-flex pb-2 ">Account No.</span>
        <div class="form-input col ">
            <input type="text" placeholder="Enter Number">
        </div>
    </div>
    <div class="col-lg-12 d-flex flex-column col-12 px-0 pb-3">
        <span class="d-flex pb-2 ">Bank Name</span>
        <div class="form-input col ">
            <input type="text" placeholder="Enter">
        </div>
    </div>
    <div class="col-lg-12 d-flex flex-column col-12 px-0 pb-3">
        <span class="d-flex pb-2 ">Bank Address</span>
        <div class="form-input col ">
            <input type="text" placeholder="Enter">
        </div>
    </div>
    <div class="col-lg-4 d-flex flex-column col-12 px-0 pb-3 pe-lg-2">
        <span class="d-flex pb-2 ">City</span>
        <div class="d-flex align-items-center col ">
            <app-select-box class="w-100" options='["Select 1","Select 2","Select 3","Select 4","Select 5"]'></app-select-box>
        </div>
    </div>
    <div class="col-lg-4 d-flex flex-column col-12 px-0 pb-3 ps-lg-2 pe-lg-2">
        <span class="d-flex pb-2 ">
            State Province<i class="fa fa-asterisk text-danger fs-12"></i>
        </span>
        <div class="d-flex align-items-center col ">
            <app-select-box class="w-100" options='["Select 1","Select 2","Select 3","Select 4","Select 5"]'></app-select-box>
        </div>
    </div>
    <div class="col-lg-4 d-flex flex-column col-12 px-0 pb-3 ps-lg-2 ">
        <span class="d-flex pb-2 ">
            Country<i class="fa fa-asterisk text-danger fs-12"></i>
        </span>
        <div class="d-flex align-items-center col ">
            <app-select-box class="w-100" options='["Select 1","Select 2","Select 3","Select 4","Select 5"]'></app-select-box>
        </div>
    </div>
    <div class="col-lg-6 d-flex flex-column col-12 px-0 pb-3 pe-lg-2">
        <span class="d-flex pb-2 ">SWIFT Code</span>
        <div class="form-input col ">
            <input type="text" placeholder="Enter Number">
        </div>
    </div>
    <div class="col-lg-6 d-flex flex-column col-12 px-0 pb-3 ps-lg-2 ">
        <span class="d-flex pb-2 ">IBAN No.</span>
        <div class="form-input col ">
            <input type="text" placeholder="Enter Number">
        </div>
    </div>
    <div class="col-lg-12 d-flex flex-column col-12 px-0 pb-3">
        <span class="d-flex pb-2 ">Local Wire Transfer Detail</span>
        <div class="form-input col ">
            <input type="text" placeholder="Enter Number">
        </div>
    </div>
    <div class="col-lg-12 d-flex flex-column col-12 px-0 pb-3">
        <span class="d-flex pb-2 ">International Wire Transfer Detail</span>
        <div class="form-input col ">
            <input type="text" placeholder="Enter Number">
        </div>
    </div>
    <div class="col-lg-12 d-flex  col-12 justify-content-end px-0 pb-3">
        <button class="btn-1 py-2 px-5" (click)="tableShow()">Add</button>
    </div>
</div>

<div class="table-scroll" *ngIf="isTableShow">
    <div class="ws-table mt-2 w-100">
        <div class="ws-table-head  w-100 d-flex  border-bottom-2">
            <div class="col-2 text-center text-light py-2  d-flex align-items-center px-3  fw-500 ">Account Title</div>
            <div class="col-2 text-center text-light py-2  d-flex align-items-center px-3 border-left-2 fw-500 ">Account No.</div>
            <div class="col-2 text-center text-light py-2  d-flex align-items-center px-3 border-left-2 fw-500 ">Bank Name</div>
            <div class="col-2 text-center text-light py-2  d-flex align-items-center px-3 border-left-2 fw-500 ">Bank Address</div>
            <div class="col-2 text-center text-light py-2  d-flex align-items-center px-3 border-left-2 fw-500 ">SWIFT Code</div>
            <div class="col-2 text-center text-light py-2  d-flex align-items-center px-3 border-left-2 fw-500 ">IBAN No.</div>
            <div class="col-2 text-center text-light py-2  d-flex align-items-center px-1 border-left-2 fw-500 ">Local Wire Transfer Details</div>
            <div class="col-2 text-center text-light py-2  d-flex align-items-center px-1 border-left-2 fw-500 ">International Wire Transfer Detail</div>
            <div class="col-2 text-center text-light py-2  d-flex align-items-center px-3 border-left-2 fw-500 ">Action</div>
        </div>
        <div class="ws-td d-flex border-bottom-2 ">
            <div class="col-2 py-4 text-faded-2 d-flex align-items-center"></div>
            <div class="col-2 py-4 text-faded-2 d-flex border-left-2 align-items-center"></div>
            <div class="col-2 py-4 text-faded-2 d-flex border-left-2 align-items-center"></div>
            <div class="col-2 py-4 text-faded-2 d-flex border-left-2 align-items-center"></div>
            <div class="col-2 py-4 text-faded-2 d-flex border-left-2 align-items-center"></div>
            <div class="col-2 py-4 text-faded-2 d-flex border-left-2 align-items-center"></div>
            <div class="col-2 py-4 text-faded-2 d-flex border-left-2 align-items-center"></div>
            <div class="col-2 py-4 text-faded-2 d-flex border-left-2 align-items-center"></div>
            <div class="col-2 py-4  d-flex align-items-center border-left-2 justify-content-center">
                <i class="fa fa-edit  fs-5 mx-1 text-success"></i>
                <i class="fa fa-trash fs-5 mx-1  text-danger"></i>
            </div>
        </div>
    </div>
</div>