<h2 class="fw-700 text-dark w-100 text-center">Head Of The Office</h2>
<div class="row mx-0 pt-4">
    <div class="col-lg-6 d-flex flex-lg-row flex-column align-items-lg-center col-12 px-0 pb-3">
        <span class="d-flex pb-lg-0 pb-2 form-split-label">Salutation</span>
        <div class="form-input col ms-lg-3">
            <input type="text" placeholder="Enter/Suggest">
        </div>
    </div>
    <div class="col-lg-6 d-flex flex-lg-row flex-column align-items-lg-center col-12 px-0 pb-3 ps-lg-4">
        <span class="d-flex pb-lg-0 pb-2 ">First Name</span>
        <div class="form-input col ms-lg-3">
            <input type="text" placeholder="Enter">
        </div>
    </div>
    <div class="col-lg-6 d-flex flex-lg-row flex-column align-items-lg-center col-12 px-0 pb-3">
        <span class="d-flex pb-lg-0 pb-2 form-split-label">Middle Name</span>
        <div class="form-input col ms-lg-3">
            <input type="text" placeholder="Enter/Suggest">
        </div>
    </div>
    <div class="col-lg-6 d-flex flex-lg-row flex-column align-items-lg-center col-12 px-0 pb-3 ps-lg-4">
        <span class="d-flex pb-lg-0 pb-2 ">Last Name</span>
        <div class="form-input col ms-lg-3">
            <input type="text" placeholder="Enter">
        </div>
    </div>
    <div class="col-lg-6 d-flex flex-lg-row flex-column align-items-lg-center col-12 px-0 pb-3">
        <span class="d-flex pb-lg-0 pb-2 form-split-label">Role</span>
        <div class="form-input d-flex align-items-center col ms-lg-3">
            <select name="" id="">
                <option value="">Select</option>
                <option value="">Select 1</option>
                <option value="">Select 2</option>
                <option value="">Select 3</option>
            </select>
            <i class="fa fa-angle-down arrow-down"></i>
        </div>
    </div>
    <div class="col-lg-6 d-flex flex-lg-row flex-column align-items-lg-center col-12 px-0 pb-3 ps-lg-4">
        <span class="d-flex pb-lg-0 pb-2 ">Designation</span>
        <div class="form-input col ms-lg-3">
            <input type="text" placeholder="Enter">
        </div>
    </div>
    <div class="col-lg-6 d-flex flex-lg-row flex-column align-items-lg-center col-12 px-0 pb-3">
        <span class="d-flex pb-lg-0 pb-2 form-split-label">Contact</span>
        <div class="form-input col ms-lg-3">
            <input type="text"  [ng2TelInputOptions]="{initialCountry: 'pk',separateDialCode:true}" ng2TelInput />
        </div>
    </div>
    <div class="col-lg-6 d-flex flex-lg-row flex-column align-items-lg-center col-12 px-0 pb-3 ps-lg-4">
        <span class="d-flex pb-lg-0 pb-2 ">Designation</span>
        <div class="form-input col ms-lg-3">
            <input type="text" placeholder="Enter">
        </div>
    </div>
</div>