<div class="body">
    <div class="d-flex w-100 ">
        <app-sidebar class="side-col "></app-sidebar>
        <div class="main-col mt-3">
            <div class="card py-5 h-100 card-main">
                <div class="row mx-0 border-bottom pb-4">
                    <div class="d-flex flex-column align-items-start col-lg-8 col-12 order-lg-1 order-1">
                        <h1 class="fw-700 text-dark">Lorem Ipsum is simply
                            dummy text</h1>
                        <p class="fs-7 fw-600">Lorem Ipsum is simply dummy text of the printing industry.</p>
                        <button class="btn btn-primary">
                            <span class="text-white   fw-500 pt-1 fs-7">Get Started</span>
                            <i class="fa fa-arrow-right text-white  fs-8 ps-4"></i>
                        </button>
                    </div>
                    <div class="col-lg-4 col-12 order-lg-2 order-1">
                        <img src="../assets/images/bulb.PNG" class="w-75" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>