<h2 class="fw-700 text-dark w-100 text-center">Add Department</h2>
<div class="row mx-0 pt-3">
    <div class="col-lg-12 d-flex flex-lg-row flex-column align-items-lg-center col-12 px-0 pb-3">
        <span class="d-flex pb-lg-0 pb-2 form-split-label">Department Name</span>
        <div class="form-input col ms-lg-3">
            <input type="text" placeholder="Enter Text">
        </div>
    </div>
    <div class="col-lg-12 d-flex flex-lg-row flex-column align-items-start pt-3 col-12 px-0 pb-3">
        <span class="d-flex pb-lg-0 pb-2 form-split-label">Type Of Organization</span>
        <div class="d-flex flex-column pt-2 col ps-lg-4">
            <div class="row mx-0 w-100 ps-lg-3">
                <div class="col-lg-3 col-12 pt-lg-0 pt-3 px-0">
                    <label class="checkbox-container">
                        <input type="checkbox" checked>
                        <span>Hr</span>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-lg-3 col-12 pt-lg-0 pt-3 px-0">
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span>Finance</span>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-lg-3 col-12 pt-lg-0 pt-3 px-0">
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span>Compliance</span>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-lg-3 col-12 pt-lg-0 pt-3 px-0">
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span>Audits</span>
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="row mx-0 w-100 ps-lg-3 pt-lg-4">
                <div class="col-lg-3 col-12 pt-lg-0 pt-3 px-0">
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span>Sales</span>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-lg-3 col-12 pt-lg-0 pt-3 px-0">
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span>Buyers</span>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-lg-3 col-12 pt-lg-0 pt-3 px-0">
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span>Customers</span>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-lg-3 col-12 pt-lg-0 pt-3 px-0">
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span>Standards</span>
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="row mx-0 w-100 ps-lg-3 pt-lg-4">
                <div class="col-lg-6 col-12 pt-lg-0 pt-3 px-0">
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span>Accreditation Bodies</span>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-lg-6 col-12 pt-lg-0 pt-3 px-0">
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span>Office Management</span>
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="pt-4 ps-3 ">
                <button class="btn-1 px-5">Add</button>
            </div>
        </div>
    </div>
    <div class="table-scroll">
        <div class="ws-table mt-5">
            <div class="ws-table-head row mx-0  border-bottom-2">
                <div class="col-5 ps-lg-5 ps-2  text-light py-3  fw-500 ">Department</div>
                <div class="col-7 ps-lg-5 ps-2  text-light py-3 border-left-2 fw-500 ">Modules</div>
            </div>
            <div class="ws-td row mx-0 pt-4 ">
                <div class="col-5 ps-lg-5 ps-2 fw-500 text-faded ">Department Name</div>
                <div class="col-7 ps-lg-5 ps-2 fw-500 text-faded ">Hr</div>
            </div>
            <div class="ws-td row mx-0 pt-4 ">
                <div class="col-5 ps-lg-5 ps-2 fw-500 text-faded ">Department Name</div>
                <div class="col-7 ps-lg-5 ps-2 fw-500 text-faded ">Hr</div>
            </div>
        </div>
    </div>
</div>