<div>
    <div class="row mx-0">
        <div class="col-lg-6 px-0 login-container d-flex flex-column justify-content-between align-items-center">
            <div class="d-flex flex-column col-lg-7 col-10">
                <div class="w-100 d-lg-none d-flex justify-content-center pb-5">
                    <img src="../../../../assets/images/logo.png" class="" alt="">
                </div>
                <span class="fs-1 fw-900 text-dark">Login</span>
                <p class="fw-500">Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                <span class="pb-2 pt-5">Email</span>
                <div class="form-input col ">
                    <input type="text" placeholder="Enter Your Email">
                </div>
                <span class="pb-2 pt-4">Password</span>
                <div class="form-input col ">
                    <input type="text" placeholder="Enter Your Password">
                </div>
                <a href="" class="text-primary fs-9 w-100 text-end pt-3">Forget Password?</a>
                <button class="btn-1 w-100 mt-4 py-3">Login</button>
            </div>
            <span class="fs-9 text-faded py-4">&#169;2022 Dashboard All Right Reserved</span>
        </div>
        <div class="col-6 px-0 d-lg-flex d-none">
            <img src="../../../../assets/images/login-bg.PNG" class="w-100" alt="">
        </div>
    </div>
</div>