<div class="body">
    <div class="d-flex flex-lg-row flex-column w-100 ">
        <div class="side-col">
            <div class="w-100">
                <nav class="sidebar px-3 pt-5 pb-3 ">
                    <div class="d-flex align-items-center justify-content-between ps-4">
                        <a href="" class="navbar-brand"><img src="../../../assets/images/logo.png" alt=""></a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="main-col my-3 order-2">
            <div class="card py-5 px-4 h-100 card-main">
                <h1 class="fw-700 text-dark col-lg-9 col-12">Welcome you’re 5 minutes away from Head Office Setup</h1>
                <div
                    class="border-top border-bottom py-4 my-4 d-flex align-items-center justify-content-between pe-lg-4">
                    <span class="text-faded" [className]="currentTab == 1 ? 'btn-1' : 'text-faded'"> Head Office
                        Informartion</span>
                    <span class="text-faded" [className]="currentTab == 2 ? 'btn-1' : 'text-faded'"> Company Document
                    </span>
                    <span class="text-faded" [className]="currentTab == 3 ? 'btn-1' : 'text-faded'">Department </span>
                    <span class="text-faded" [className]="currentTab == 4 ? 'btn-1' : 'text-faded'">Head of Office
                    </span>
                    <span class="text-faded" [className]="currentTab == 5 ? 'btn-1' : 'text-faded'"> Banking Detail
                    </span>
                </div>
                <app-head-office-information *ngIf="currentTab == 1"></app-head-office-information>
                <app-upload-company-document *ngIf="currentTab == 2"></app-upload-company-document>
                <app-department *ngIf="currentTab == 3"></app-department>
                <app-head-of-office *ngIf="currentTab == 4"></app-head-of-office>
                <app-banking-detail *ngIf="currentTab == 5"></app-banking-detail>
                <div class="border-top mt-4 pt-4 d-flex justify-content-between">
                    <div>
                        <button *ngIf="currentTab > 1 " class="btn-gray px-5 btn-1-size"
                            (click)="previous()">Previous</button>
                    </div>
                    <div>
                        <button class="btn-1 btn-1-size" *ngIf="currentTab < 5" (click)="next()">Next</button>
                        <a routerLink="/fee-charges" class="btn-1 btn-1-size text-light" *ngIf="currentTab == 5">Complete</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="aside-col order-lg-3 order-1">
            <div class="d-flex justify-content-between align-items-center pt-lg-5 pt-4 px-4">
                <div class="d-flex align-items-center">
                    <div class="notification">
                        <mat-icon class="mat-icon">notifications_none</mat-icon>
                        <span>2</span>
                    </div>
                    <div>
                        <mat-icon class="ms-3">settings</mat-icon>
                    </div>
                </div>
                <div class="dropdown">
                    <button class=" dropdown-toggle avater-drop" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../../../assets/images/avater.png" alt="">
                        <img src="../../../assets/images/arrow-down.png" alt="">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>