<div class="body">
    <div class="d-flex flex-lg-row flex-column w-100 blured-parent">
        <app-sidebar [showSidebar]="show" (changeSidebar)="toogelSidebar($event)" class="side-col "></app-sidebar>
        <div class="main-col my-3 order-2">
            <div class="card py-5 px-4 h-100 card-main">
                <div class=" d-flex border-bottom mb-4">
                    <h2 class="fw-700 text-dark col-lg-9 col-12 pb-3  ">Welcome you’re 5 minutes away from Head Office Setup</h2>
                </div>
                <app-head-office-information *ngIf="currentTab == 1"></app-head-office-information>
                <app-head-of-office *ngIf="currentTab == 2"></app-head-of-office>
                <app-banking-detail *ngIf="currentTab == 3"></app-banking-detail>
                <app-audit-fee-charges *ngIf="currentTab == 4"></app-audit-fee-charges>
                <app-tax-details *ngIf="currentTab == 5"></app-tax-details>
                <div class="border-top mt-4 pt-4 d-flex justify-content-between">
                    <div>
                        <button *ngIf="currentTab > 1 " class="btn-gray px-5 btn-1-size"
                            (click)="previous()">Previous</button>
                    </div>
                    <div>
                        <button class="btn-1 btn-1-size" *ngIf="currentTab < 5" (click)="next()">Next</button>
                        <a routerLink="/fee-charges" class="btn-1 btn-1-size text-light"
                            *ngIf="currentTab == 5">Save</a>
                    </div>
                </div>
            </div>
        </div>
        <app-aside [showSidebar]="show" (changeSidebar)="toogelSidebar($event)" class="aside-col order-lg-3 order-1 ">
            <div class="d-lg-flex d-none flex-column mt-lg-5 aside-steps">
                <div class="d-flex align-items-center">
                    <span [className]="currentTab == 1 ? 'small-dot active' : 'small-dot'" ></span>
                    <span [className]="currentTab == 1 ? 'check-dot active' : 'check-dot'" ><i class="fa fa-check"></i></span>
                    <span>Head Office Informartion</span>
                </div>
                <div class="d-flex align-items-center pt-4 mt-3">
                    <span [className]="currentTab == 2 ? 'small-dot active' : 'small-dot'"></span>
                    <span [className]="currentTab == 2 ? 'check-dot active' : 'check-dot'"><i class="fa fa-check"></i></span>
                    <span>Head Of Office</span>
                </div>
                <div class="d-flex align-items-center pt-4 mt-3">
                    <span [className]="currentTab == 3 ? 'small-dot active' : 'small-dot'"></span>
                    <span [className]="currentTab == 3 ? 'check-dot active' : 'check-dot'"><i class="fa fa-check"></i></span>
                    <span>Banking Details</span>
                </div>
                <div class="d-flex align-items-center pt-4 mt-3">
                    <span [className]="currentTab == 4 ? 'small-dot active' : 'small-dot'"></span>
                    <span [className]="currentTab == 4 ? 'check-dot active' : 'check-dot'"><i class="fa fa-check"></i></span>
                    <span>Audit Fee Charges</span>
                </div>
                <div class="d-flex align-items-center pt-4 mt-3">
                    <span [className]="currentTab == 5 ? 'small-dot active' : 'small-dot'"></span>
                    <span [className]="currentTab == 5 ? 'check-dot active' : 'check-dot'"><i class="fa fa-check"></i></span>
                    <span>Tax Details</span>
                </div>
            </div>
        </app-aside>
    </div>
</div>