<h2 class="fw-700 text-dark w-100 text-center">Head Office Information</h2>
<div class="row mx-0 pt-4">

    <div class="col-lg-6 d-flex flex-lg-row flex-column align-items-lg-center col-12 px-0 pb-3">
        <span class="d-flex pb-lg-0 pb-2 form-split-label">Office Name <i
                class="fa fa-asterisk text-danger fs-12"></i></span>
        <div class="form-input col ms-lg-3">
            <input type="text" placeholder="Enter Text">
        </div>
    </div>
    <div class="col-lg-6 d-flex flex-lg-row flex-column align-items-lg-center col-12 px-0 pb-3 ps-lg-4">
        <span class="d-flex pb-lg-0 pb-2 form-split-label">Type of Office <i
                class="fa fa-asterisk text-danger fs-12"></i></span>
        <div class="form-input d-flex align-items-center col ms-lg-3">
            <select name="" id="">
                <option value="">Select</option>
                <option value="">Select 1</option>
                <option value="">Select 2</option>
                <option value="">Select 3</option>
            </select>
            <i class="fa fa-angle-down arrow-down"></i>
        </div>
    </div>
    <div class="col-12 d-flex flex-lg-row flex-column align-items-lg-center col-12 px-0 pb-3">
        <span class="d-flex pb-lg-0 pb-2 form-split-label">Address<i
                class="fa fa-asterisk text-danger fs-12"></i></span>
        <div class="row mx-0 col">
            <div class="col-lg-12 px-0 col-12">
                <div class="form-input col ms-lg-3">
                    <input type="text" placeholder="Enter Text">
                </div>
            </div>

        </div>

    </div>
    <div class="col-lg-4 d-flex flex-lg-row flex-column align-items-lg-center col-12 px-0 pb-3">
        <span class="d-flex pb-lg-0 pb-2 form-split-label">
            Country<i class="fa fa-asterisk text-danger fs-12"></i>
        </span>
        <div class="form-input d-flex align-items-center col ms-lg-3">
            <select name="" id="">
                <option value="">Select</option>
                <option value="">Select 1</option>
                <option value="">Select 2</option>
                <option value="">Select 3</option>
            </select>
            <i class="fa fa-angle-down arrow-down"></i>
        </div>
    </div>
    <div class="col-lg-4 d-flex flex-lg-row flex-column align-items-lg-center col-12 px-0 pb-3 ps-lg-4">
        <span class="d-flex flex-column pb-lg-0 pb-2">
            State
            <span class="d-flex ">
                Province
                <i class="fa fa-asterisk text-danger fs-12"></i>
            </span>
        </span>

        <div class="form-input d-flex align-items-center col ms-lg-3">
            <select name="" id="">
                <option value="">Select</option>
                <option value="">Select 1</option>
                <option value="">Select 2</option>
                <option value="">Select 3</option>
            </select>
            <i class="fa fa-angle-down arrow-down"></i>
        </div>
    </div>
    <div class="col-lg-4 d-flex flex-lg-row flex-column align-items-lg-center col-12 px-0 pb-3 ps-lg-4">
        <span class="d-flex pb-lg-0 pb-2 ">City<i class="fa fa-asterisk text-danger fs-12"></i></span>

        <div class="form-input d-flex align-items-center col ms-lg-3">
            <select name="" id="">
                <option value="">Select</option>
                <option value="">Select 1</option>
                <option value="">Select 2</option>
                <option value="">Select 3</option>
            </select>
            <i class="fa fa-angle-down arrow-down"></i>
        </div>
    </div>
    <div class="col-lg-6 d-flex flex-lg-row flex-column align-items-lg-center col-12 px-0 pb-3">
        <span class="d-flex pb-lg-0 pb-2 form-split-label">Postal Code <i
                class="fa fa-asterisk text-danger fs-12"></i></span>
        <div class="form-input col ms-lg-3">
            <input type="text" placeholder="Enter Text">
        </div>
    </div>
    <div class="col-lg-6 d-flex flex-lg-row flex-column align-items-lg-center col-12 px-0 pb-3 ps-lg-4">
        <span class="d-flex pb-lg-0 pb-2 ">Office Website <i class="fa fa-asterisk text-danger fs-12"></i></span>
        <div class="form-input col ms-lg-3">
            <input type="text" placeholder="Enter Text">
        </div>
    </div>
    <div class="col-lg-6 d-flex flex-lg-row flex-column align-items-lg-center col-12 px-0 pb-3">
        <span class="d-flex pb-lg-0 pb-2 form-split-label">
            Cell No.
            <i class="fa fa-asterisk text-danger fs-12"></i>
        </span>
        <div class="form-input d-flex align-items-center col ms-lg-3">
            <input type="text" (countryChange)="onCountryChange($event)" (ng2TelOutput)="getNumber($event)"
                [ng2TelInputOptions]="{initialCountry: 'pk',separateDialCode:true}" ng2TelInput />
        </div>
    </div>
    <div class="col-lg-6 d-flex flex-lg-row flex-column align-items-lg-center col-12 px-0 pb-3 ps-lg-4">
        <span class="d-flex pb-lg-0 pb-2 ">Phone <i class="fa fa-asterisk text-danger fs-12"></i></span>
        <div class="col d-flex row mx-0">
            <div class="form-input col-8 ms-lg-3">
                <input type="text" (countryChange)="onCountryChange($event)" (ng2TelOutput)="getNumber($event)"
                    [ng2TelInputOptions]="{initialCountry: 'pk',separateDialCode:true}" ng2TelInput />
            </div>
            <div class="form-input col ms-3 ">
                <input type="text" class="text-center" placeholder="Ext">
            </div>
        </div>
    </div>

    <div class="col-lg-12 d-flex flex-lg-row flex-column  pt-2 col-12 px-0 pb-3">
        <span class="d-flex flex-column pb-lg-0 pb-2 form-split-label">
            Type of
            <span class="d-flex ">
                Orgnization
                <i class="fa fa-asterisk text-danger fs-12"></i>
            </span>
        </span>
        <div class="d-flex flex-column">
            <div class="d-flex flex-lg-row flex-column ps-lg-4">
                <div class="ps-lg-4 pt-lg-0 pt-3 ">
                    <label class="checkbox-container">
                        <input type="checkbox" >
                        <span>Proprietorship</span>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="ps-lg-4 pt-lg-0 pt-3 ">
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span>Limited Company</span>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="ps-lg-4 pt-lg-0 pt-3 ">
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span>Corporation</span>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="ps-lg-4 pt-lg-0 pt-3">
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span>Partnership</span>
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="d-flex flex-lg-row flex-column align-items-lg-center ps-lg-4 pt-lg-4">
                <div class="ps-lg-4 pt-lg-0 pt-3">
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span>Other</span>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="ps-lg-4 pt-lg-0 pt-3">
                    <div class="form-input  ">
                        <input type="text" placeholder="Please Specify">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 d-flex flex-lg-row flex-column align-items-lg-center col-12 px-0 pb-3">
        <span class="d-flex flex-column pb-lg-0 pb-2 form-split-label">
            Company
            <span class="d-flex ">
                Registration No
                <i class="fa fa-asterisk text-danger fs-12"></i>
            </span>
        </span>
        <div class="form-input col ms-lg-3">
            <input type="text" placeholder="Enter Number">
        </div>
    </div>
    <div class="col-lg-6 d-flex flex-lg-row flex-column align-items-lg-center col-12 px-0 pb-3 ps-lg-4">
        <span class="d-flex flex-column pb-lg-0 pb-2 ">
            Business License
            <span class="d-flex ">
                Number
                <i class="fa fa-asterisk text-danger fs-12"></i>
            </span>
        </span>
        <div class="form-input col ms-lg-3">
            <input type="text" placeholder="Enter Number">
        </div>
    </div>
</div>

<!-- <div class="col-lg-5 d-flex flex-lg-row flex-column align-items-lg-center col-12 px-0 pb-3 ps-lg-4">
    <span class="d-flex pb-lg-0 pb-2 ">City <i class="fa fa-asterisk text-danger fs-12"></i></span>
    <div class="form-input d-flex align-items-center col ms-lg-3">
        <select name="" id="">
            <option value="">Select</option>
            <option value="">Select 1</option>
            <option value="">Select 2</option>
            <option value="">Select 3</option>
        </select>
        <i class="fa fa-angle-down arrow-down"></i>
    </div>
</div> -->